{
	"extends": [
	  "eslint:recommended",
	  "plugin:@typescript-eslint/recommended",
	  "plugin:react/recommended",
	  "prettier"
	],
	"plugins": ["@typescript-eslint", "react", "prettier"],
	"rules": {
	  "prettier/prettier": "error"
	}
  }