[submodule "src/cblite-js"]
	path = src/cblite-js
	url = git@github.com:Couchbase-Ecosystem/cblite-js.git
	branch = turbo_module_release

[submodule "ios/cbl-js-swift"]
	path = ios/cbl-js-swift
	url = git@github.com:Couchbase-Ecosystem/cbl-js-swift.git
	branch = turbo_module_release

[submodule "android/src/main/java/com/cblreactnative/cbl-js-kotlin"]
	path = android/src/main/java/com/cblreactnative/cbl-js-kotlin
	url = git@github.com:Couchbase-Ecosystem/cbl-js-kotlin.git
	branch = turbo_module_release

[submodule "expo-example/cblite-js-tests"]
	path = expo-example/cblite-js-tests
	url = git@github.com:Couchbase-Ecosystem/cblite-js-tests.git
	branch = turbo_module_release