[submodule "src/cblite-js"]
	path = src/cblite-js
	url = git@github.com:Couchbase-Ecosystem/cblite-js.git
[submodule "ios/cbl-js-swift"]
	path = ios/cbl-js-swift
	url = git@github.com:Couchbase-Ecosystem/cbl-js-swift.git
[submodule "android/src/main/java/com/cblreactnative/cbl-js-kotlin"]
	path = android/src/main/java/com/cblreactnative/cbl-js-kotlin
	url = git@github.com:Couchbase-Ecosystem/cbl-js-kotlin.git
